.root {
    min-width: 720px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 24px;
    border-radius: 10px;
    border: #BFBFC0 1px solid;
    width: 720px;
}

.content:hover {
    box-shadow: 0 0 30px 0 rgba(34, 36, 40, 0.10);
}

.list {
    padding: 8px 0 0 20px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    animation: aniUp 1s forwards;
}

.listOpen {
    padding: 8px 0 0 20px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    animation: ani 2s forwards;
}

.elementName {
    font-size: 16px;
    font-weight: 500;
    color: darkgray;
}

.plus {
    cursor: pointer;
    transition: transform 0.3s ease;
}

svg {
    fill: #BFBFC0;
}

.rotated {
    transform: rotate(45deg);
}

@keyframes ani {
    0% {max-height: 0;}
    100% {max-height: 100vw;}
}

@keyframes aniUp {
    0% {max-height: 50vw;}
    100% {max-height: 0;}
}

.noData {
    display: flex;
    justify-content: center;
    color: darkgray;
    width: 720px;
    margin-bottom: 8px;
}