.root {
  display: flex;
  justify-content: center;
  padding: 80px;
  height: 100vh;
}

.content {
  padding: 20px;
}

.header {
  font-size: 32px;
  font-weight: 500;
  color: darkgray;
  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-flow: column;
}