.tree-view-root {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.tree-view-content {
    padding: 20px;
    min-width: 1000px;
}

.tree-view-header {
    font-size: 32px;
    font-weight: 500;
    color: darkgray;
    margin-bottom: 60px;
}

.tree-view-list {
    display: flex;
    flex-flow: column;
}